<div class="side_nav">
    <ul class="nav nav-pills nav-stacked">
       <li><a href="#">Setup</a></li>
       <li ><a routerLink="article" [routerLinkActive]="['active']">Create Article</a></li>
       <li><a routerLink="analyis" [routerLinkActive]="['active']">Analysis</a></li>
       <li><a routerLink="version" [routerLinkActive]="['active']">Version</a></li>
       <li><a routerLink="social" [routerLinkActive]="['active']">Social</a></li>
       <li><a routerLink="seo" [routerLinkActive]="['active']">SEO</a></li>
        <li><a routerLink="display-article" [routerLinkActive]="['active']">Article</a></li>
       <li><a [routerLinkActive]="['active']" >Assets</a></li>
       <li><a [routerLinkActive]="['active']">Scraps</a></li>
       <li><a [routerLinkActive]="['active']">Notifications</a></li>
       <li><a routerLink="published" [routerLinkActive]="['active']">Published</a></li>

     </ul>
</div>
