.side_nav{
  display: block; 
  border-radius:0px;
  
}
.side_nav ul{
    display: block;
    border-radius:0px;
}
.side_nav ul>li{
    display: block;
    border-radius:0px;
    border: none;
    border-bottom: .5px  silver;
}
.side_nav ul>li>a , .side_nav ul>li>a:hover{
    padding: 4%;
    display: block;
    border-radius:0px;
    border: none;
    border-bottom: 1px solid  silver;
}