<div class="col-md-8">
    <div class="ui-g">
      <div class="ui-g-12">
        <div class="jumbotron">
          <h3>Dashboard</h3>
        </div>
      </div>
       <div class="ui-g-12">
          <h3 class="first">Basic</h3>
            <input id="in" type="text" size="30" pInputText [(ngModel)]="text" />  {{text}}

            <h3>Disabled</h3>
            <input id="in" type="text" size="30" pInputText [disabled]="disabled" />

            <button type="button" (click)="toggleDisabled()" pButton label="Toggle"></button>
       </div>
       <div class="ui-g-12">
          <p>Tiny MC goes here</p>
       </div>

   </div>
</div>
