
.artilce-label{
  font-family: 'OpenSans-Bold',serif;
  font-size: 20px;
}
.artilce-input input[type="text"]{
      box-shadow: none;
      width: 100%;
      height: 35px;
      border-radius: 0px;
      border: none;
      border-bottom: 1px solid silver;
      float: left;

}
.inner-article{
     margin:1% 
}
