<div class="col-md-8">
    <div class="ui-g">
      <div class="ui-g-12">
        <div class="jumbotron">
          <h1>Navbar example</h1>
          <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
          <p>To see the difference between static and fixed top navbars, just scroll.</p>
          <p>
            <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
          </p>
        </div>
      </div>
       <div class="ui-g-12">
          <h3 class="first">Basic</h3>
            <input id="in" type="text" size="30" pInputText [(ngModel)]="text" />  {{text}}

            <h3>Disabled</h3>
            <input id="in" type="text" size="30" pInputText [disabled]="disabled" />

            <button type="button" (click)="toggleDisabled()" pButton label="Toggle"></button>
       </div>
       <div class="ui-g-12">

         <p-growl [value]="msgs" sticky="sticky"></p-growl>

         <div>
             <button type="button" pButton (click)="showSuccess()" label="Success" class="ui-button-success"></button>
             <button type="button" pButton (click)="showInfo()" label="Info" class="ui-button-info"></button>
             <button type="button" pButton (click)="showWarn()" label="Warn" class="ui-button-warning"></button>
             <button type="button" pButton (click)="showError()" label="Error" class="ui-button-error"></button>
             <button type="button" pButton (click)="showMultiple()" label="Multiple"></button>
             <button type="button" pButton (click)="clear()" icon="fa-close" style="float:right" label="Clear"></button>
         </div>
       </div>
   </div>
</div>
