<input  pInputText name="Password" [(ngModel)]="search"  class="form-control validate fa fa-key"
name="search" placeholder="search" #pwd="ngModel" (change)="searcharticles(search)"/>    

<div style="margin:2%">

    <p-dataGrid [value]="articles" class="publishedgrid">
        <ng-template let-article pTemplate="item">
            <div style="padding:3px" class="ui-g-12 ui-md-4">
                <p-panel [header]="article.title"  footer="article.created_at" [style]="{'text-align':'center'}">
                    <p>{{article.summary}}</p>
                    <div class="article-detail" [innerHTML]="article.description"></div>
                    <p style="background-color:#c1c1c1">{{article.created_at | date}}<p>
                   <div>
                       <p *ngIf="!article.published==false" style="color:green">Published</p>
                       <p *ngIf="article.published==false" style="color:red">Draft</p>
                   </div>
                </p-panel>
            </div>

        </ng-template>
    </p-dataGrid>
</div>
