<div style="margin:2%">

<p-dataGrid [value]="articles" class="publishedgrid">
    <ng-template let-article pTemplate="item">
        <div style="padding:3px" class="ui-g-12 ui-md-4">
            <p-panel [header]="article.title" [style]="{'text-align':'center'}">
                <!--<a id="link" href={{article.url}}>{{article.url}}</a>-->
                <p>{{article.summary}}</p>
                <div class="article-detail">{{article.description}}</div>
                <!--<hr class="ui-widget-content" style="border-top:0">-->
                <!--<i class="fa fa-search" (click)="selectarticle(article)" style="cursor:pointer"></i>-->
            </p-panel>
        </div>
    </ng-template>
</p-dataGrid>
</div>

<!--<p-dialog header="article Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="225" (onAfterHide)="onDialogHide()">
    <div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="selectedarticle" style="font-size:16px;text-align:center;padding:20px">
        <div class="ui-grid-row">
            <div class="ui-grid-col-12" style="text-align:center"><img src="showcase/resources/demo/images/article/{{selectedarticle.brand}}-big.gif"></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">Vin: </div>
            <div class="ui-grid-col-8">{{selectedarticle.vin}}</div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">Year: </div>
            <div class="ui-grid-col-8">{{selectedarticle.year}}</div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">Brand: </div>
            <div class="ui-grid-col-8">{{selectedarticle.brand}}</div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">Color: </div>
            <div class="ui-grid-col-8">{{selectedarticle.color}}</div>
        </div>
    </div>
</p-dialog>-->

