<div class="ui-grid ui-grid-responsive">
  <div class="article_container">
    <!--for buttons-->
    <div class="inner_article">
      <form  #article="ngForm">
        <div class=" ui-grid-row btn_pos">
          <button pButton type="button" (click)="count()" label="Save draft"></button>
          <button pButton class="ui-button-success" type="submit" icon="fa-check"  label="Publish" (click)="ngSubmit(article.title,article.url,article.summary,article.description)"></button>
          <button pButton class="ui-button-info" type="button" (click)="showDialog()" icon="fa-check" label="Review"></button>
        </div>
        <div class="ui-grid-col-12">
          <div class="ui-grid-row">
            <span class="artilce_label ui-grid-col-2">Heading</span>
            <div class="artilce_input ui-grid-col-10 ">
              <input id="in" type="text" size="30" pInputText [(ngModel)]="article.title" name="heading" #title/>
            </div>
          </div>
          <div class="ui-grid-row">
            <span class="artilce_label ui-grid-col-2 ">Edit Url</span>
            <div class="artilce_input ui-grid-col-10 ">
              <input id="in" type="text" size="30" pInputText [(ngModel)]="article.url" name="url" #url/>
            </div>
          </div>
          <div class="ui-grid-row">
            <span class="artilce_label ui-grid-col-2 ">Summary</span>
            <div class="artilce_input ui-grid-col-10 ">
              <input id="in" type="text" size="30" pInputText [(ngModel)]="article.summary" name="summary" #summary />
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
              <ckeditor [(ngModel)]="article.description"  name="description" #description debounce="500">
                <p>Hello <strong>world</strong></p>
              </ckeditor>
              <div [innerHTML]="article.description"></div>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>

  <p-dialog header="Aritcle Preview" [(visible)]="display" modal="modal" width="300" responsive="true">
    <h1>{{article.title}}</h1>
    <a href="atricle.url">
      <h2 style="color:cornflowerblue">{{article.url}}</h2>
    </a>
      <p>{{article.summary}}</p>
    <div [innerHTML]="article.description"> </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button type="button" pButton icon="fa-check" (click)="display=false" label="Done"></button>

      </div>
    </p-footer>
  </p-dialog>
