
  <p-panel header = "News Feeds" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
    <div  class="newsfeeds">
    <h2 *ngIf=!feeds>NO FEEDS</h2>
    <li *ngFor="let feed of feeds" style="list-style: none">
      <img src="{{feed.thumbnail}}" class="newsimage">
      <a style="color:cornflowerblue">{{feed.title}}</a>
      <p>{{feed.content}}</p>
      </li>
      </div>
  </p-panel>
  <!--<br>-->
  <p-panel  header="Latest Earthquakes"[toggleable]="true" [style]="{'margin-bottom':'20px'}">
     <div  class="earthquakefeeds">
    <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
      <sebm-google-map-marker *ngFor="let m of earthquakes; let i = index"  [latitude]="m.lat"
        [longitude]="m.lon" [label]="m.magnitude">
      </sebm-google-map-marker>
    </sebm-google-map>
     </div>
  </p-panel>

  <p-panel header = "Twitter Feeds" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
    <div  class="twitterfeeds">
    <h2 *ngIf=!twitfeeds>NO FEEDS</h2>
    <li *ngFor="let feed of twitfeeds" style="list-style: none">
      <p [innerHtml]="feed.content"></p>
      </li>
      </div>
  </p-panel>

  <p-panel header = "Sensex reports" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
    <div  class="sensexreports">
    <h2 *ngIf=!sensex>NO FEEDS</h2>
    <li *ngFor="let sensex of sensex" style="list-style: none">
      <p> Title : {{sensex.title}}</p>
      <a style="color:cornflowerblue">{{sensex.link}}</a>
      </li>
      </div>
  </p-panel>
