.sebm-google-map-container {
  height: 300px;
}

.newsfeeds{
  overflow:hidden; overflow-y:scroll;
  height: 200px;
}
.newsimage{
  max-width: 100%
}

.twitterfeeds{
  overflow:hidden; overflow-y:scroll;
  height: 200px;
}
.earthquakefeeds{
     height: 106px;
  overflow:hidden;
}